<a href="https://colab.research.google.com/github/singhhshipra/ML_LAB_/blob/main/1BM22CS341_Lab_1_DataProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd

# i. Load the .csv file into a DataFrame
df = pd.read_csv('housing.csv')

# ii. Display information of all columns
print("Information about all columns:")
print(df.info())
print("\n")

# iii. Display statistical information of all numerical columns
print("Statistical information of all numerical columns:")
print(df.describe())
print("\n")

# iv. Display the count of unique labels for the "Ocean Proximity" column
print("Count of unique labels for 'Ocean Proximity' column:")
print(df['ocean_proximity'].value_counts())
print("\n")

# v. Display which attributes (columns) have missing values count greater than zero
print("Columns with missing values count greater than zero:")
missing_values = df.isnull().sum()
missing_columns = missing_values[missing_values > 0]
print(missing_columns)

Information about all columns:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None


Statistical information of all numerical columns:
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000


Count of unique labels for 'Ocean Proximity' column:
ocean_proximity
<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: count, dtype: int64


Columns with missing values count greater than zero:
total_bedrooms    207
dtype: int64

In [27]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Load the datasets
adult_df = pd.read_csv('adult.csv')
diabetes_df = pd.read_csv('Dataset of Diabetes .csv')

# ---- Part 1: Handling Missing Values ----

# Replace '?' with NaN in the Adult Income dataset
adult_df.replace('?', np.nan, inplace=True)

# Check for missing values in Adult Income dataset
adult_missing = adult_df.isnull().sum()
adult_missing_cols = adult_missing[adult_missing > 0]
print("Missing columns in Adult Income dataset:")
print(adult_missing_cols)

# Handle missing values in Adult Income dataset by replacing with mode for categorical columns
for column in adult_missing_cols.index:
    most_frequent = adult_df[column].mode()[0]
    adult_df[column].fillna(most_frequent, inplace=True)

# Check for missing values in Diabetes dataset
diabetes_missing = diabetes_df.isnull().sum()
diabetes_missing_cols = diabetes_missing[diabetes_missing > 0]
print("\nMissing columns in Diabetes dataset:")
print(diabetes_missing_cols)

# ---- Part 2: Encoding Categorical Columns ----

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Identify and encode categorical columns in Adult Income dataset
adult_categorical_cols = adult_df.select_dtypes(include=['object']).columns
for col in adult_categorical_cols:
    adult_df[col] = label_encoder.fit_transform(adult_df[col])
print("\nCategorical columns in Adult Income dataset encoded.")

# Identify and encode categorical columns in Diabetes dataset
diabetes_categorical_cols = diabetes_df.select_dtypes(include=['object']).columns
for col in diabetes_categorical_cols:
    diabetes_df[col] = label_encoder.fit_transform(diabetes_df[col])
print("Categorical columns in Diabetes dataset encoded.")

Missing columns in Adult Income dataset:
workclass         2799
occupation        2809
native-country     857
dtype: int64

Missing columns in Diabetes dataset:
Series([], dtype: int64)

Categorical columns in Adult Income dataset encoded.
Categorical columns in Diabetes dataset encoded.

<ipython-input-27-1b88268bca1e>:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  adult_df[column].fillna(most_frequent, inplace=True)